body{
    padding: 0;
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(34, 34, 34);
    color: beige;
    display: flex;
    align-items: center;
    justify-content: center;

}
.container{
    background-color: rgb(43, 43, 43);
    width: 85%;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    border: 1px solid rgb(59, 59, 59);
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
}
.tip-amt{
    width: 85%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}
input{
    border: 1px solid rgb(59, 59, 59);
    border: none;
    border-radius: 3px;
    width: 100%;
    padding: 11px;
    outline: none;
}
label{
    margin-bottom: 4px;
}
.calculate-btn{
    background-color: rgb(71, 0, 165);
    color: beige;
    margin: 8px 0 13px 0;
    padding: 8px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: all 0.4s;
}
.calculate-btn:hover{
    background-color: rgb(59, 59, 255);
    color: rgb(211, 208, 208);
}